.table.tasks .thead .tr .td:nth-child(2), .table.tasks .tbody .tr .td:nth-child(2), .table.tasks .thead .tr .td:nth-child(3), .table.tasks .tbody .tr .td:nth-child(3), .table.tasks .thead .tr .td:nth-child(4), .table.tasks .tbody .tr .td:nth-child(4), .table.tasks .thead .tr .td:nth-child(5), .table.tasks .tbody .tr .td:nth-child(5), .table.tasks .thead .tr .td:nth-child(6), .table.tasks .tbody .tr .td:nth-child(6) {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.table.tasks .thead .tr .td:nth-child(1), .table.tasks .tbody .tr .td:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 5%;
}

.table.tasks .thead .tr .td:nth-child(2), .table.tasks .tbody .tr .td:nth-child(2) {
  width: 20%;
}

.table.tasks .thead .tr .td:nth-child(3), .table.tasks .tbody .tr .td:nth-child(3) {
  width: 15%;
}

.table.tasks .thead .tr .td:nth-child(4), .table.tasks .tbody .tr .td:nth-child(4) {
  width: 20%;
}

.table.tasks .thead .tr .td:nth-child(5), .table.tasks .tbody .tr .td:nth-child(5) {
  width: 20%;
}

.table.tasks .thead .tr .td:nth-child(6), .table.tasks .tbody .tr .td:nth-child(6) {
  width: 20%;
}

.table.tasks .thead .tr, .table.tasks .tbody .tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 90px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #202020;
}

.table.tasks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table.tasks .thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table.tasks .thead .tr {
  border-radius: 14px 14px 0px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  color: #000000;
}

.table.tasks .thead .tr .td {
  font-weight: 700;
}

.table.tasks .tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table.tasks .tbody .tr {
  margin-top: 5px;
}

.table.tasks .tbody .tr .td:nth-child(2) {
  font-family: "Cairo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #202020;
}

.table.tasks .tbody .tr .td:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.table.tasks .tbody .tr .td:nth-child(3) .el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  font-family: "Cairo";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
}

.table.tasks .tbody .tr .td:nth-child(3) .el:nth-child(1) {
  background: #6930B1;
  position: absolute;
  z-index: 1;
  left: 0;
}

.table.tasks .tbody .tr .td:nth-child(3) .el:nth-child(2) {
  background: #3DA42C;
  position: absolute;
  z-index: 2;
  left: 35px;
}

.table.tasks .tbody .tr .td:nth-child(3) .el:nth-child(3) {
  background: #1CBBFF;
  position: absolute;
  z-index: 3;
  left: 70px;
}

.table.tasks .tbody .tr .td:nth-child(3) a {
  width: 36px;
  height: 32px;
  background: #1CADFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  text-decoration: none;
  position: absolute;
  left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.table.tasks .tbody .tr .td:nth-child(4) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #161616;
}

.table.tasks .tbody .tr .td:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: "Cairo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #202020;
}

.table.tasks .tbody .tr .td:nth-child(5) .el {
  margin-right: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  font-family: "Cairo";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  background: #1CBBFF;
}

.table.tasks .tbody .tr .td:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.table.tasks .tbody .tr .td:nth-child(6) .hot, .table.tasks .tbody .tr .td:nth-child(6) .medium, .table.tasks .tbody .tr .td:nth-child(6) .low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  width: 150px;
  height: 49px;
  border-radius: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-right: 40px;
}

.table.tasks .tbody .tr .td:nth-child(6) .hot {
  background: rgba(216, 0, 39, 0.63);
  color: #FFFFFF;
}

.table.tasks .tbody .tr .td:nth-child(6) .medium {
  background: #FFEBCC;
  color: #FFAB2D;
}

.table.tasks .tbody .tr .td:nth-child(6) .low {
  background: #DFEDF2;
  color: #34A8D9;
}

.table.tasks .tbody .tr:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
  border-radius: 1px;
}
/*# sourceMappingURL=client_tasks.css.map */