footer {
    margin: 0 20px;
}

.pagination {
    margin-top: -10;
    border-radius: 0px 0px 14px 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 90px;
    padding: 0 30px;

    &__data {
        i {
            font-weight: 700;
        }
    }

    &__lists {

        .left__arrow,
        .right__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border: 1px solid #C2C2C2;
            box-sizing: border-box;
            border-radius: 14px;

            &:hover {
                background: #1cbbff8a;
                box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
            }
        }

        display: flex;

        .lists {
            margin: 0 20px;
            display: flex;
            border: 1px solid #C2C2C2;
            box-sizing: border-box;
            border-radius: 14px;

            .list {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #202020;
                width: 50px;
                height: 50px;

                &.active {
                    background: #1cbbff8a;
                    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
                    border-radius: 14px;
                    color: #fff;
                }

                &:hover {
                    background: #1cbbff8a;
                    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
                    border-radius: 14px;
                    color: #fff;
                }
            }
        }
    }
}