%jcctac {
    justify-content: center;
    text-align: left;
}

%td {
    &:nth-child(1) {
        justify-content: center;
        text-align: center;
        width: 5%;
    }
    &:nth-child(2) {
        @extend %jcctac;
        width: 20%;
        flex-wrap: nowrap;
    }
    &:nth-child(3) {
        @extend %jcctac;
        width: 15%;
    }
    &:nth-child(4) {
        @extend %jcctac;
        width: 20%;
    }
    &:nth-child(5) {
        @extend %jcctac;
        width: 20%;
    }
    &:nth-child(6) {
        @extend %jcctac;
        width: 10%;
    }
    &:nth-child(7) {
        @extend %jcctac;
        width: 10%;
    }
}

%tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    height: 90px;
    font-family: "Cairo";
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #202020;
}

.table.persons {
    width: 100%;
    display: flex;
    flex-direction: column;
    .thead {
        background: #ffffff;
        border-radius: 14px 14px 0px 0px;
        height: 127px;
        display: flex;
        align-items: center;
        justify-content: start;
        font-family: "Cairo";
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 52px;
        color: #202020;
        padding-left: 35px;
    }
    .tbody {
        display: flex;
        flex-direction: column;
        .tr {
            @extend %tr;
            margin-top: 5px;
            .td {
                display: flex;
                align-items: center;
                justify-content: start;
                @extend %td;
                &:nth-child(2) {
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 0.01em;
                    color: #202020;
                    .name__surname {
                        display: flex;
                        flex-direction: column;
                        .name {
                            font-family: "Open Sans";
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 22px;
                            color: #000000;
                        }
                        .surname {
                            font-family: "Open Sans";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 19px;
                            color: rgba(0, 0, 0, 0.8);
                        }
                    }
                    img {
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;
                        border-radius: 14px;
                    }
                }
                &:nth-child(3) {
                    display: flex;
                    align-items: center;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                &:nth-child(4) {
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        padding: 5px;
                        background: #f6eeff;
                        border-radius: 12px;
                    }
                    a {
                        font-family: "Open Sans";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        text-decoration-line: underline;
                        color: #202020;
                    }
                }
                &:nth-child(5) {
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        padding: 5px;
                        background: #f6eeff;
                        border-radius: 12px;
                    }
                    a {
                        font-family: "Open Sans";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.8);
                        text-decoration: none;
                    }
                }
                &:nth-child(6) {
                    display: flex;
                    align-items: center;
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        padding: 5px;
                        background: #f6eeff;
                        border-radius: 12px;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
            &:hover {
                background: #ffffff;
                box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
                border-radius: 1px;
            }
        }
    }
}