.table.persons .tbody .tr .td:nth-child(2), .table.persons .tbody .tr .td:nth-child(3), .table.persons .tbody .tr .td:nth-child(4), .table.persons .tbody .tr .td:nth-child(5), .table.persons .tbody .tr .td:nth-child(6), .table.persons .tbody .tr .td:nth-child(7) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.table.persons .tbody .tr .td:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 5%;
}

.table.persons .tbody .tr .td:nth-child(2) {
  width: 20%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.table.persons .tbody .tr .td:nth-child(3) {
  width: 15%;
}

.table.persons .tbody .tr .td:nth-child(4) {
  width: 20%;
}

.table.persons .tbody .tr .td:nth-child(5) {
  width: 20%;
}

.table.persons .tbody .tr .td:nth-child(6) {
  width: 10%;
}

.table.persons .tbody .tr .td:nth-child(7) {
  width: 10%;
}

.table.persons .tbody .tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 90px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #202020;
}

.table.persons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table.persons .thead {
  background: #ffffff;
  border-radius: 14px 14px 0px 0px;
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-family: "Cairo";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 52px;
  color: #202020;
  padding-left: 35px;
}

.table.persons .tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table.persons .tbody .tr {
  margin-top: 5px;
}

.table.persons .tbody .tr .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.table.persons .tbody .tr .td:nth-child(2) {
  font-family: "Cairo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #202020;
}

.table.persons .tbody .tr .td:nth-child(2) .name__surname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table.persons .tbody .tr .td:nth-child(2) .name__surname .name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.table.persons .tbody .tr .td:nth-child(2) .name__surname .surname {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
}

.table.persons .tbody .tr .td:nth-child(2) img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 14px;
}

.table.persons .tbody .tr .td:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table.persons .tbody .tr .td:nth-child(4) img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 5px;
  background: #f6eeff;
  border-radius: 12px;
}

.table.persons .tbody .tr .td:nth-child(4) a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #202020;
}

.table.persons .tbody .tr .td:nth-child(5) img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 5px;
  background: #f6eeff;
  border-radius: 12px;
}

.table.persons .tbody .tr .td:nth-child(5) a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.table.persons .tbody .tr .td:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table.persons .tbody .tr .td:nth-child(6) img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 5px;
  background: #f6eeff;
  border-radius: 12px;
}

.table.persons .tbody .tr .td:nth-child(6) a {
  text-decoration: none;
}

.table.persons .tbody .tr:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
  border-radius: 1px;
}
/*# sourceMappingURL=list__persons.css.map */