.mail__client {
    display: flex;
    margin: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 14px;
    height: 100%;
    width: calc(100% - 40px);
}

.mail__left {
    width: 20%;
    padding: 30px;
    .button {
        margin-bottom: 30px;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1cbbff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
            border-radius: 14px;
            font-family: "Cairo";
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            padding: 10px 0px;
            width: 100%;
            border: none;
            outline: none;
            img {
                margin-right: 20px;
            }
        }
    }
    .search {
        position: relative;
        margin-bottom: 60px;
        img {
            position: absolute;
            max-width: 19px;
            max-height: 19px;
            top: 16px;
            left: 16px;
        }
        input {
            padding-left: 38px;
            background: #dfedf2;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
            border-radius: 14px;
            height: 52px;
            width: 100%;
            outline: none;
            border: none;
            font-family: "Cairo";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #000;
        }
    }
    .folders {
        .title {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 1px;
            color: #c7c7c7;
            margin-bottom: 20px;
        }
        .item {
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
            background: #ffffff;
            border-radius: 28px;
            margin-bottom: 6px;
            font-family: "Cairo";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 34px;
            color: #a5a5a5;
            .msg {
                position: absolute;
                right: 10px;
                background: #a5a5a5;
                border-radius: 30px;
                font-family: "Cairo";
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 26px;
                color: #ffffff;
                padding: 3px 13px;
            }
            &.active {
                background: rgba(0, 0, 0, 0.03);
                color: #1cbbff;
                .msg {
                    background: #6cc7ee;
                }
            }
            &:hover {
                background: rgba(0, 0, 0, 0.03);
                color: #1cbbff;
                .msg {
                    background: #6cc7ee;
                }
            }
            .text {
                margin-left: 10px;
            }
            img {
                width: 20px;
                height: 20px;
                margin-left: 16px;
            }
        }
    }
}

.mail__right {
    width: 78%;
    height: 70vh;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 85px;
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        .left__title {
            display: flex;
            align-items: center;
            font-family: "Cairo";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 34px;
            color: #a5a5a5;
            a {
                display: flex;
                align-items: center;
                margin-right: 2em;
            }
            .text__title {
                font-family: "Cairo";
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 49px;
                color: #202020;
            }
            .elem {
                margin-right: 6%;
            }
            input {
                margin-left: 30px;
                margin-right: 50px;
            }
        }
        .right__title {
            display: flex;
            align-items: center;
            width: 24%;
            padding-right: 30px;
            a {
                margin-left: 12%;
            }
            &.send {
                width: 55%;
                display: flex;
                justify-content: flex-end;
                padding: 0;
                a {
                    margin-left: 20px;
                    text-decoration: none;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 24px 5px 16px;
                    background: #FFFFFF;
                    border: 1px solid #F5F5F5;
                    box-sizing: border-box;
                    border-radius: 12px;
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 34px;
                    color: #202020;
                    img {
                        margin-right: 10px;
                    }
                }
            }
            a:last-child {
                img {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .messages {
        width: 100%;
        height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
        .message {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            min-height: 154px;
            background: #ffffff;
            border: 1px solid #f5f5f5;
            input[type="checkbox"] {
                margin-left: 30px;
                margin-right: 20px;
            }
            .imgs {
                display: flex;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 14px;
                    margin-right: 14px;
                }
            }
            .message__title {
                display: flex;
                flex-direction: column;
                .msg__title {
                    display: flex;
                    align-items: center;
                    .email {
                        font-family: "Cairo";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 30px;
                        color: #a5a5a5;
                    }
                    .dot {
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: #a5a5a5;
                        margin: 0 12px;
                    }
                    .time {
                        font-family: "Cairo";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 30px;
                        color: #a5a5a5;
                    }
                }
                .sub__title {
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    color: #202020;
                }
                .text {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    color: #202020;
                }
            }
            .button {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                img {
                    transform: rotate(90deg);
                }
            }
        }
    }
}