%li {
    align-items: center;
    display: flex;
    width: 100%;
}

$FF: "Cairo";
%before {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

%title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.menu {
    position: fixed;
    z-index: 100;
    width: 300px;
    height: 1241px;
    background: #ffffff;
    box-shadow: 18px 4px 35px rgba(0, 0, 0, 0.02);
    &__title {
        @extend %title;
        font-family: "Open Sans";
        line-height: 22px;
        letter-spacing: 1px;
        color: #c7c7c7;
        margin-left: 24px;
    }
    &__sub__title {
        @extend %title;
        display: flex;
        align-items: center;
        font-family: $FF;
        line-height: 30px;
        margin-left: 24px;
        color: #a5a5a5;
    }
    .banner {
        display: block;
        margin-left: 24px;
    }
}

.logo {
    display: block;
    margin: 32px 87px 37px 24px;
    img {
        width: 234px;
        height: 51px;
    }
}

.nav {
    margin-left: 24px;
    li {
        @extend %li;
        margin: 15px 0;
        font-family: $FF;
        font-weight: 600;
        font-size: 18px;
        a {
            @extend %li;
            padding: 5px 7px 5px 0px;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                border: none;
            }
        }
        .gradient:hover,
        .gradient.active {
            background: linear-gradient(90deg, #5118c3 50%, #1bf1ff 108.62%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #0b2349;
            display: table;
        }
        .first::before {
            content: url("/assets/imgs/clients.svg");
            @extend %before;
        }
        .second::before {
            content: url("/assets/imgs/analytics.svg");
            @extend %before;
        }
        .third::before {
            content: url("/assets/imgs/mail.svg");
            @extend %before;
        }
        .four::before {
            content: url("/assets/imgs/chats.svg");
            @extend %before;
        }
        .five::before {
            content: url("/assets/imgs/settings.svg");
            @extend %before;
        }
        .visible {
            &.active {
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 120px;
                padding: 4px 8px;
                background: #5ecfff;
                border-radius: 30px;
                font-family: $FF;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: #ffffff;
            }
        }
    }
    .sub__li {
        flex-direction: column;
        align-items: start;
    }
    &__sub {
        display: none;
        &.active {
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            li.active a,
            li a:hover {
                color: #1cbbff;
            }
        }
    }
}