.popups {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popups.active {
  display: block;
  z-index: 200;
  background: rgba(0, 0, 0, 0.45);
}

.popups .popup1,
.popups .popup2,
.popups .popup3,
.popups .popup4,
.popups .popup5,
.popups .popup6,
.popups .popup7,
.popups .popup8,
.popups .popup9 {
  display: none;
  z-index: 500;
}

.popups .popup1.open,
.popups .popup2.open,
.popups .popup3.open,
.popups .popup4.open,
.popups .popup5.open,
.popups .popup6.open,
.popups .popup7.open,
.popups .popup8.open,
.popups .popup9.open {
  display: block;
  position: absolute;
  max-width: 802px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popups .popup1.open form,
.popups .popup2.open form,
.popups .popup3.open form,
.popups .popup4.open form,
.popups .popup5.open form,
.popups .popup6.open form,
.popups .popup7.open form,
.popups .popup8.open form,
.popups .popup9.open form {
  margin: 0 1em;
}

.popups .popup1 .popup__title,
.popups .popup2 .popup__title,
.popups .popup3 .popup__title,
.popups .popup4 .popup__title,
.popups .popup5 .popup__title,
.popups .popup6 .popup__title,
.popups .popup7 .popup__title,
.popups .popup8 .popup__title,
.popups .popup9 .popup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.popups .popup1 .popup__title .title,
.popups .popup2 .popup__title .title,
.popups .popup3 .popup__title .title,
.popups .popup4 .popup__title .title,
.popups .popup5 .popup__title .title,
.popups .popup6 .popup__title .title,
.popups .popup7 .popup__title .title,
.popups .popup8 .popup__title .title,
.popups .popup9 .popup__title .title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 64px;
  color: #202020;
  word-wrap: normal;
}

.popups .popup1 .popup__title .line,
.popups .popup2 .popup__title .line,
.popups .popup3 .popup__title .line,
.popups .popup4 .popup__title .line,
.popups .popup5 .popup__title .line,
.popups .popup6 .popup__title .line,
.popups .popup7 .popup__title .line,
.popups .popup8 .popup__title .line,
.popups .popup9 .popup__title .line {
  max-width: 200px;
  width: 100%;
  height: 2px;
  background: #1cbbff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
}

.popups .popup1 .str,
.popups .popup2 .str,
.popups .popup3 .str,
.popups .popup4 .str,
.popups .popup5 .str,
.popups .popup6 .str,
.popups .popup7 .str,
.popups .popup8 .str,
.popups .popup9 .str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 1em;
}

.popups .popup1 .str .str__title,
.popups .popup2 .str .str__title,
.popups .popup3 .str .str__title,
.popups .popup4 .str .str__title,
.popups .popup5 .str .str__title,
.popups .popup6 .str .str__title,
.popups .popup7 .str .str__title,
.popups .popup8 .str .str__title,
.popups .popup9 .str .str__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #a5a5a5;
}

.popups .popup1 .str .input,
.popups .popup2 .str .input,
.popups .popup3 .str .input,
.popups .popup4 .str .input,
.popups .popup5 .str .input,
.popups .popup6 .str .input,
.popups .popup7 .str .input,
.popups .popup8 .str .input,
.popups .popup9 .str .input {
  width: 50%;
}

.popups .popup1 .str .input input,
.popups .popup2 .str .input input,
.popups .popup3 .str .input input,
.popups .popup4 .str .input input,
.popups .popup5 .str .input input,
.popups .popup6 .str .input input,
.popups .popup7 .str .input input,
.popups .popup8 .str .input input,
.popups .popup9 .str .input input {
  width: 100%;
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  padding: 0.5em;
  outline: none;
}

.popups .popup1 .str.ln,
.popups .popup2 .str.ln,
.popups .popup3 .str.ln,
.popups .popup4 .str.ln,
.popups .popup5 .str.ln,
.popups .popup6 .str.ln,
.popups .popup7 .str.ln,
.popups .popup8 .str.ln,
.popups .popup9 .str.ln {
  border-top: 2px solid #1cbbff;
  padding-top: 2em;
}

.popups .popup1 .str.txt,
.popups .popup2 .str.txt,
.popups .popup3 .str.txt,
.popups .popup4 .str.txt,
.popups .popup5 .str.txt,
.popups .popup6 .str.txt,
.popups .popup7 .str.txt,
.popups .popup8 .str.txt,
.popups .popup9 .str.txt {
  border-top: 2px solid #1cbbff;
  padding-top: 2em;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popups .popup1 .str.txt textarea,
.popups .popup2 .str.txt textarea,
.popups .popup3 .str.txt textarea,
.popups .popup4 .str.txt textarea,
.popups .popup5 .str.txt textarea,
.popups .popup6 .str.txt textarea,
.popups .popup7 .str.txt textarea,
.popups .popup8 .str.txt textarea,
.popups .popup9 .str.txt textarea {
  outline: none;
  padding: 1em;
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
}

.popups .popup1 .str.but .button,
.popups .popup2 .str.but .button,
.popups .popup3 .str.but .button,
.popups .popup4 .str.but .button,
.popups .popup5 .str.but .button,
.popups .popup6 .str.but .button,
.popups .popup7 .str.but .button,
.popups .popup8 .str.but .button,
.popups .popup9 .str.but .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1cbbff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  padding: 0.5em 2em;
  font-family: "Cairo";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  border: none;
}

.popups .popup1 .str.but .button img,
.popups .popup2 .str.but .button img,
.popups .popup3 .str.but .button img,
.popups .popup4 .str.but .button img,
.popups .popup5 .str.but .button img,
.popups .popup6 .str.but .button img,
.popups .popup7 .str.but .button img,
.popups .popup8 .str.but .button img,
.popups .popup9 .str.but .button img {
  margin-right: 1em;
}
/*# sourceMappingURL=popups.css.map */