.robots {
    margin: 20px;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
        height: 119px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
        border-radius: 14px;
        .title__left {
            display: flex;
            align-items: center;
            a {
                display: flex;
                align-items: start;
                margin-right: 1em;
            }
            .title {
                display: flex;
                flex-direction: column;
                img {}
                &__up {
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 52px;
                    color: #202020;
                }
                &__down {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    color: #a5a5a5;
                }
            }
        }
        .title__right {
            a {
                padding: .7em 2em;
                margin-right: 1em;
                text-decoration: none;
                &:first-child {
                    background: rgba(160, 249, 255, 0.23);
                    border-radius: 14px;
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 30px;
                    color: #161616;
                }
                &:last-child {
                    border: 1px solid #c2c2c2;
                    box-sizing: border-box;
                    border-radius: 14px;
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 30px;
                    color: #202020;
                }
            }
        }
    }
    &__body {
        .robots__body__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "Cairo";
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: #202020;
            margin-top: 20px;
            .hren {
                width: 60%;
                height: 6px;
                background: #1CBBFF;
                /* Shadow01 */
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
                border-radius: 14px;
            }
        }
        .robots__body__columns {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .card {
                width: 24%;
                &__title {
                    min-height: 81px;
                    border-radius: 14px 14px 0px 0px;
                    font-family: "Cairo";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 37px;
                    color: #202020;
                    padding: 1em;
                }
                &:nth-child(1) {
                    .card__title {
                        background: #d5d9ff;
                    }
                }
                &:nth-child(2) {
                    .card__title {
                        background: #cff1ff;
                    }
                }
                &:nth-child(3) {
                    .card__title {
                        background: #ffd5d5;
                    }
                }
                &:nth-child(4) {
                    .card__title {
                        background: #e7ffdc;
                    }
                }
                .items {
                    display: flex;
                    flex-direction: column;
                    .item {
                        width: 100%;
                        background: #ffffff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
                        border-radius: 14px;
                        margin: 5px 0;
                        padding: 15px 10px;
                        .item__title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .left {
                                display: flex;
                                align-items: center;
                                font-family: "Open Sans";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 19px;
                                color: #A5A5A5;
                                img {
                                    margin-right: 5px;
                                }
                            }
                            .right {
                                font-family: "Open Sans";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 12px;
                                a {
                                    text-decoration: none;
                                    color: #A5A5A5;
                                }
                            }
                        }
                        .item__body {
                            font-family: "Cairo";
                            font-style: normal;
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 30px;
                            color: #0F0F0F;
                        }
                        .item__footer {
                            display: flex;
                            justify-content: space-between;
                            a {
                                text-decoration: none;
                                color: #1CBBFF;
                                font-size: 11px;
                                font-family: "Cairo";
                                font-style: normal;
                                font-weight: 200;
                                line-height: 21px;
                            }
                        }
                    }
                    .item__add {
                        background: #F5F5F5;
                        border: 2px dashed #C2C2C2;
                        box-sizing: border-box;
                        border-radius: 14px;
                        width: 100%;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Open Sans";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            color: #717171;
                            text-decoration: none;
                            height: 67px;
                        }
                    }
                }
            }
        }
    }
}