.settings__title {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 35px;
  justify-content: space-between;
  margin-right: 20px;
}

.canban__settings {
  margin: 20px 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
}
